body{
    display: flex;
    text-align: center;
    flex-direction: column;
    font-size: 50px;
    background-image: url("drums1.jpg");
    background-repeat: no-repeat;
    height: 1000px;}

.banner{
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 100px;
    font-style: italic;}

.main{
    flex-direction:unset ;
   

    height: 950px;}



.nav{
    /* background-color:white; */
    height: 100px;
    width: 586px;
    margin-top: 1%;
    display: inline-flex;
    border-radius: 6px;}


.home{
    border-radius: 5px;
    background-color:rgba(0, 0, 0, 0.205);
    color: white;
    height: 65px;
    width: 160px;
    margin-left: 1%;
    margin-top: 2.5%;
font-family: monospace;}

.about{
    border-radius: 5px;
    background-color:rgba(0, 0, 0, 0.205);
    color:rgb(255, 255, 255);
    height: 65px;
    width: 160px;
    margin-left: 8%;
    margin-top: 2.5%;
font-family: monospace;}


.contact{
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.205);
    color: white;
    height: 65px;
    width: 200px;
    margin-left: 8%;
    margin-top: 2.5%;
text-align: center;
font-family: monospace; }

.ext{
    background-color: rgba(253, 9, 9, 0.027);
    height: 65px;
    width: 1250px;
    margin-left: 15%;
    margin-top: 1%;
    color: white;}

.c1{
    /* background-color: violet; */
    height: 680px;
    width: 1644px;
    margin-left: 1%;
    margin-top: 1%;
    display:inline-flex ;}
    

.cimg{
    display:flex;
    height: 500px;
    width: 500px;
    margin-left: 13%;
    margin-top: 8%;
   ;}

   img {
    border: 4px solid rgba(223, 18, 18, 0.514);
  }

.dmr{height: 333px;}

.ctxt{    display:flex;
    background-color:rgba(255, 246, 246, 0.349);
    height: 500px;
    width: 500px;
    margin-left: 10%;
    margin-top: 8%;
    font-size: 27px;
    font-style: italic;
    font-family: cursive
   ;}

   a, a:hover, a:visited, a:active {
    color: inherit;
    text-decoration: none;
   }

